.App {
  height: 100%;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.App-flex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-heading {
  background-color: #222;
  color: #f8f8f8;
  font-size: 6vh;
  box-shadow: 0px 4px 4vh 4px rgba(34,34,34,0.9);
  z-index: 2;
}

.App-react {
  color: #00d8ff;
  text-decoration: overline underline;
}

.App-logo {
  max-height: 30vh;
  max-width: 30vh;
}

.App-content {
  background-image: url('https://images.unsplash.com/photo-1503745328377-1f4355a2284b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fd259a5f9abffb6e5f588601ced0af81&auto=format&fit=crop&w=3300&q=80');
  background-size: cover;
  background-position: bottom;

  font-size: 3vh;
  line-height: 1.5;
  padding: 0 1em;
}

.App-content-body {
  background: rgba(0,0,0,.67);
  color: white;
  padding: 1em 2em;
  border-radius: .25rem;
}

.App-footer {
  background: #222;
  padding: .75rem;
  color: grey;
}